<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KickBall Site</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>Kickball</h1>
    <h2>Teams(Who are in each teams?)</h2>

    <ul>
      <li><a href="http://localhost:4567/team/Simpson%20Slammers">Simpson Slammers</a></li>
      <li><a href="http://localhost:4567/team/Jetson%20Jets">Jetson Jets</a></li>
      <li><a href="http://localhost:4567/team/Flinestone%20Fire">Flinestone Fire</a></li>
      <li><a href="http://localhost:4567/team/Griffin%20Goats">Griffin Goats</a></li>

    </ul>

    <h2>Positions(who plays which positions?)</h2>
    <ul>
      <li><a href="http://localhost:4567/position/Catcher">Catcher</a></li>
      <li><a href="http://localhost:4567/position/Right%20Field">Right Field</a></li>
      <li><a href="http://localhost:4567/position/Left%20Field">Left Field</a></li>
      <li><a href="http://localhost:4567/position/Shortstop">Shortstop</a></li>
      <li><a href="http://localhost:4567/position/Center%20Field">Center Field</a></li>
      <li><a href="http://localhost:4567/position/Pitcher">Pitcher</a></li>
      <li><a href="http://localhost:4567/position/1st%20Base">1st Base</a></li>
      <li><a href="http://localhost:4567/position/2nd%20Base">2nd Base</a></li>
      <li><a href="http://localhost:4567/position/3rd%20Base">3rd Base</a></li>
    </ul>
  </body>
</html>
